li:hover{
    transform: scale(1.5);
    cursor: pointer;
  }
  
  button:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
  
  a:hover{
    transform: scale(1.1);
      cursor: pointer;
  }  