<div class="container-fluid">
    <div class="row bg-info" style="background-color: antiquewhite;">
      <div class="col d-flex justify-content-center p-4 text-center">
        <p class="display-5">Angular Curd Operations</p>
      </div>
    </div>
  
    <div class="row justify-content-center p-1">
      <div class="col-md-4 p-5 text-warning">
        <p
          class="h1 title d-flex pt-2 justify-content-center align-items-center"
        >
          Students Data Curd Operations
        </p>
      </div>
  
      <div class="col-md p-5" >
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          mollitia magnam ab dignissimos. Asperiores neque nesciunt unde delectus,
          recusandae nisi odit autem, officia temporibus molestias debitis fugiat
          nulla dolorum mollitia!
        </p>
  
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ad,
          velit quod debitis illum quis autem unde ullam, hic suscipit
          reprehenderit error perferendis laborum fugiat at odio, maiores incidunt
          iusto.
        </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 p-5">
        <p class="h6">Student Data CRUD (Create, Read, Update, Delete) Operations Application</p>
        <p>Welcome to the Student Data CRUD Operations Application – an intuitive and robust tool designed to streamline the management of student information throughout their academic journey. This application empowers educators, administrators, and support staff with a comprehensive suite of features to efficiently handle student data.</p>
      </div>
  
      <div class="col d-flex justify-content-center flex-column align-items-center pt-2 pb-2">
        <p class="display-5 text-success">Get started </p>
        <button class="btn btn-info" routerLink="Dashboard">NeXt</button>
      </div>
    </div>
  </div>
  